<html>
    <h1 id="title">Welcome</h1>
    <div id="cardBox">
        <mat-card class="reviewer-card">
            <mat-card-header>
            <mat-card-content class="numbers">
                <p><b>5</b></p>
            </mat-card-content>
            </mat-card-header>
            <h1>Awaiting</h1>
            <i class="material-icons">
                keyboard_arrow_down
            </i> 
        </mat-card>
  
        <mat-card class="reviewer-card2">
            <mat-card-header>
            <mat-card-content class="numbers">
                <p><b>4</b></p>
            </mat-card-content>
            </mat-card-header>
            <h1>In Progress</h1>
            <i class="material-icons">
                keyboard_arrow_down
            </i> 
        </mat-card>
  
        <mat-card class="reviewer-card3">
            <mat-card-header>
            <mat-card-content class="numbers">
                <p><b>5</b></p>
            </mat-card-content>
            </mat-card-header>
            <h1>Completed</h1>
            <i class="material-icons">
                keyboard_arrow_down
            </i> 
        </mat-card>

        <mat-card class="reviewer-card4">
            <mat-card-header>
            <mat-card-content class="numbers">
                <p><b>10</b></p>
            </mat-card-content>
            </mat-card-header>
            <h1>Review Hours</h1>
            <i class="material-icons">
                keyboard_arrow_down
            </i> 
        </mat-card>
    </div>
    <button mat-icon-button id="add">
        <i class="material-icons">
            add
        </i>
    </button>
  </html>