<html>
    <div id ="container">
        <div id="left">
            <img src="./assets/CodefuciusGuy.png">
        </div>
        <div id="right">
            <mat-card id="message">
                <mat-card-content>
                    <h2>Sorry!</h2>
                    <p> It looks like the page you are looking for is lost or you have been not given the 
                        correct permissions. 
                    </p>
                    <p> Please return to the Codefucius homepage and we will get this sorted out 
                        right away!
                    </p>
                    <button mat-button id="home" onClick="location.href=''">Return Home</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</html> 
