<html>
<h1 id="title">Welcome</h1>
<div id="cardBox">

    <mat-card class="reviewee-card" (click)="toggleAwait()">
        <mat-card-header>
            <mat-card-content class="amount">
                <p><b id="awaitNum"></b></p>
            </mat-card-content>
        </mat-card-header>
        <h1>Awaiting</h1>
        <i class="material-icons">
            keyboard_arrow_down
        </i>
    </mat-card>

    <mat-card class="reviewee-card" (click)="toggleInProg()">
        <mat-card-header>
            <mat-card-content class="amount">
                <p><b id="inProgNum"></b></p>
            </mat-card-content>
        </mat-card-header>
        <h1>In Progress</h1>
        <i class="material-icons">
            keyboard_arrow_down
        </i>
    </mat-card>

    <mat-card class="reviewee-card" (click)="toggleComp()">
        <mat-card-header>
            <mat-card-content class="amount">
                <p><b id="compNum"></b></p>
            </mat-card-content>
        </mat-card-header>
        <h1>Completed</h1>
        <i class="material-icons">
            keyboard_arrow_down
        </i>
    </mat-card>

    <mat-card class="reviewee-card" (click)="toggleReview()">
        <mat-card-header>
            <mat-card-content class="amount">
                <p><b>10</b></p>
            </mat-card-content>
        </mat-card-header>
        <h1>Review Hours</h1>
        <i class="material-icons">
            keyboard_arrow_down
        </i>
    </mat-card>
</div>

<div id="awaitingChart" [@openClose]="isOpenAwait ? 'open' : 'closed'">

    <div>
        <table class="mat-table">
            <thead>
                <th>Title</th>
                <th>Deadline</th>
                <th>Request To</th>
                <th>Author</th>
            </thead>
    
            <tbody>
                <tr *ngFor="let review of reviews">
                    <td>{{review.title}}</td>
                    <td>{{review.deadline | date }}</td>
                    <td>{{review.id}}</td>
                    <td>{{review.authorName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
  </div>


<div id="awaitingChart" [@openClose]="isOpenInProg ? 'open' : 'closed'">

    <div>
        <table class="mat-table">
            <thead>
                <th>Title</th>
                <th>Deadline</th>
                <th>Request To</th>
                <th>Author</th>
            </thead>
    
            <tbody>
                <tr *ngFor="let review of reviews">
                    <td>{{review.title}}</td>
                    <td>{{review.deadline | date }}</td>
                    <td>{{review.id}}</td>
                    <td>{{review.authorName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

<div id="awaitingChart" [@openClose]="isOpenComp ? 'open' : 'closed'">

    <div>
        <table class="mat-table">
            <thead>
                <th>Title</th>
                <th>Deadline</th>
                <th>Request To</th>
                <th>Author</th>
            </thead>
    
            <tbody>
                <tr *ngFor="let review of reviews">
                    <td>{{review.title}}</td>
                    <td>{{review.deadline | date }}</td>
                    <td>{{review.id}}</td>
                    <td>{{review.authorName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <button mat-button class="feedbackButton" (click)="requestOpenFeedback()">Give Feedback</button>
</div>

<div id="reviewHoursForm" [@openClose]="reviewHours ? 'open' : 'closed'">
    <h1>Add hours from completed code reviews</h1>
    <div id="hoursFormBox">
        <form id="hoursForm">
            <p>Start Time:</p>
            <mat-form-field appearance="fill">
                <mat-label>Start Time</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-radio-group aria-label="timeofday" class="radioGroup">
                <mat-radio-button value="1">AM</mat-radio-button>
                <mat-radio-button value="2">PM</mat-radio-button>
            </mat-radio-group>
            <p class="endTime">End Time:</p>
            <mat-form-field appearance="fill">
                <mat-label>End Time</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-radio-group aria-label="timeofday">
                <mat-radio-button value="1">AM</mat-radio-button>
                <mat-radio-button value="2">PM</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="dobContain">
                <input matInput name="review-date" [(ngModel)]="reviewDate" [matDatepicker]="datePicker" class="field"
                    maxlength="30" type="text" placeholder="Date of Review">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
            <button mat-button class="submitButton">Submit</button>
        </form>
    </div>
</div>


<button mat-icon-button id="add" (click)="requestOpen()">
    <i class="material-icons">
        add
    </i>
</button>

<!-- needs moved into a card -->
<!-- <div>
    <table>
        <thead>
            <th>Title</th>
            <th>Deadline</th>
            <th>Request To</th>
            <th>Author</th>
        </thead>

        <tbody>
            <tr *ngFor="let review of reviews">
                <td>{{review.title}}</td>
                <td>{{review.deadline}}</td>
                <td>{{review.id}}</td>
                <td>{{review.authorID}}</td>
            </tr>
        </tbody>
    </table>
</div> -->




</html>