.reviewee-card, .reviewee-card2, .reviewee-card3, .reviewee-card4 {
    max-width: 200px;
    max-height: 200 px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 3%;
    margin-top: 0px;
    }
  
.reviewee-card:hover, .reviewee-card2:hover, .reviewee-card3:hover, .reviewee-card4:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
.amount{
    margin-left: -15%;
    }
    
    #cardBox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    
    h1{
        margin:3%;
    }
    
    p{
        font-size: 25px;
    }

    mat-card i{
        margin-left: 80%;
    }

    button{
        background: #673ab7;
        width:5%;
        height:8%;
        position:fixed;
        bottom: 5%;
        right: 5%;
    }

    mat-card-content{
        margin-left: 0%;
    }