<!DOCTYPE html>
<header>
    <div class="container">
        <a routerLink="/" class="logo"></a>
        <nav>
            <a routerLink="/logout"></a>
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <span> <a routerLink="/">Codefucius</a></span>
                    <span class="header"></span>
                    <!--<mat-icon class="header-button" aria-hidden="false" aria-label=""></mat-icon>-->

                    <button mat-raised-button color="accent">Log Out</button>
                </mat-toolbar-row>
            </mat-toolbar>
        </nav>
    </div>

</header>