#employeeBox {
    position: absolute;
    margin-left: 5%;
    width: 90%;
    background-color: #004d40;
}

#searchBox {
    position: relative;
    margin-top: 2%;
    margin-left: 2%;
}

#reviewDateSelector {
    position: relative;
    margin-left: 2%;
}

#topOfChart {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    margin: 1%;
    background-color: #ffffff;
}

h1{
    margin:3%;
}

p{
    font-size: 25px;
}

table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    margin: 1%;
}