<html>
<h1></h1>
<div id="employeeBox">

  <div id="topOfTable">
    <mat-form-field id="searchBox" appearance="fill">
      <mat-label>Search Data</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John Smith">
      <!-- <input matInput (keyup)="applyFilter($event)" [(ngModel)]="name" (input)="filterItem(myInput.value)"
      <md-input #myInput placeholder="Item name..." [(ngModel)]="name" (input)="filterItem(myInput.value)"></md-input>
      <div *ngFor="let user of users">
        {{user.name}}
      </div>  -->
    </mat-form-field>

    <mat-form-field id="reviewDateFrom" appearance="fill">
      <mat-label>From</mat-label>
      <input matInput name="review-date-from" [(ngModel)]="reviewDateFrom" [matDatepicker]="datePickerTo" class="field"
        maxlength="30" type="text" placeholder="MM/DD/YYYY">
      <mat-datepicker-toggle matSuffix [for]="datePickerTo"></mat-datepicker-toggle>
      <mat-datepicker #datePickerTo></mat-datepicker>
    </mat-form-field>

    <mat-form-field id="reviewDateTo" appearance="fill">
      <mat-label>To</mat-label>
      <input matInput name="review-date-to" [(ngModel)]="reviewDateTo" [matDatepicker]="datePickerFrom" class="field"
        maxlength="30" type="text" placeholder="MM/DD/YYYY">
      <mat-datepicker-toggle matSuffix [for]="datePickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #datePickerFrom></mat-datepicker>
    </mat-form-field>

  </div>

  <div id="tableAndGraph">
    <!--  <div id="tableDiv">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Role </th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <ng-container matColumnDef="reviewHours">
          <th mat-header-cell *matHeaderCellDef> Review Hours </th>
          <td mat-cell *matCellDef="let element"> {{element.reviewHours}} </td>
        </ng-container>

        <ng-container matColumnDef="completedReviews">
          <th mat-header-cell *matHeaderCellDef> Complete Reviews </th>
          <td mat-cell *matCellDef="let element"> {{element.completedReviews}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div> -->
    <div id="tableDiv">
      <table class="mat-table">
        <tr class="mat-header-row">
          <th class="mat-header-cell">Name</th>
          <th class="mat-header-cell">Role</th>
          <th class="mat-header-cell">Review Hours Completed</th>

        </tr>
        <tr class="mat-row" *ngFor="let user of users">
          <td class="mat-cell">{{user.name}}</td>
          <td class="mat-cell">{{user.role}}</td>
          <td class="mat-cell">{{user.reviewHours}}</td>
        </tr>
      </table>
    </div>

    <div id="graph">
      <!-- <div *ngFor="let user of users"> -->
        <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="users" [xAxis]="showXAxis" [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
      <!-- </div> -->
    </div>
  </div>


</div>


</html>