<html>
<h1 id="title">Welcome</h1>
<div id="employeeBox">

  <div id="topOfTable">
    <mat-form-field id="searchBox" appearance="fill">
      <mat-label>Search Data</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John Smith">
    </mat-form-field>

    <mat-form-field id="reviewDateFrom" appearance="fill">
      <mat-label>From</mat-label>
      <input matInput name="review-date-from" [(ngModel)]="reviewDateFrom" [matDatepicker]="datePickerTo" class="field"
        maxlength="30" type="text" placeholder="MM/DD/YYYY">
      <mat-datepicker-toggle matSuffix [for]="datePickerTo"></mat-datepicker-toggle>
      <mat-datepicker #datePickerTo></mat-datepicker>
    </mat-form-field>

    <mat-form-field id="reviewDateTo" appearance="fill">
      <mat-label>To</mat-label>
      <input matInput name="review-date-to" [(ngModel)]="reviewDateTo" [ngModelOptions]="{standalone: true}"
        [matDatepicker]="datePickerFrom"
        class="field" maxlength="30" type="text" placeholder="MM/DD/YYYY">
      <mat-datepicker-toggle matSuffix [for]="datePickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #datePickerFrom></mat-datepicker>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <ng-container matColumnDef="reviewHours">
      <th mat-header-cell *matHeaderCellDef> Code Review Hours </th>
      <td mat-cell *matCellDef="let element"> {{element.reviewHours}} </td>
    </ng-container>

    <ng-container matColumnDef="completedReviews">
      <th mat-header-cell *matHeaderCellDef> Complete Code Reviews </th>
      <td mat-cell *matCellDef="let element"> {{element.completedReviews}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

</html>